.article-detail {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.sidebar-link {
    text-decoration: none;
    color: #7691d3;
    transition: color 0.3s;
}

.content {
    flex: 3;
    padding-left: 6rem;
}

.article-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* 媒体查询：手机端样式 */
@media (max-width: 768px) {
    .article-detail .sidebar {
        display: none;
    }

    .article-detail {
        padding: 0;
    }

    .content {
        max-width: 100%;
        padding-left: 0;
    }

}