.project-detail {
    display: flex;
}

.pj-title {
    padding-left: 3rem;
}

.item-card:hover {
    transform: translateY(-5px);
}


.navigate {
    position: relative;
    width: 20%;
    border-right: 1px solid #ccc;
}

.markdown-content {
    width: 80%;
    padding: 5vh 0;
    padding-left: 2rem;
}

@media (max-width: 768px) {
    .item-card {
        flex: 1 1 100%;
    }

    .navigate {
        display: none;
    }
}