.skill-section {
    margin-bottom: 3rem;
    width: 100%;
    margin: 0 auto;
    color: var(--text-color);
}

.skill-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.carousel-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

.skill-carousel {
    min-width: 4000px;
    display: flex;
    position: relative;
    justify-self: center;
    gap: 1rem;
}

.skill-item-large {
    width: 12rem;
    height: 12rem;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}

.skill-content {
    text-align: center;
    padding: 1rem;
}

.skill-content img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.skill-content:hover img {
    transform: scale(1.1);
}

.skill-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.skill-content p {
    font-size: 1rem;
    opacity: 0.8;
}

.carousel-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.carousel-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.carousel-button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}



@media (max-width: 768px) {
    .carousel-container {
        width: 90%;
    }

    .skill-carousel {
        height: 250px;
        overflow: hidden;
    }

    .skill-content img {
        width: 60px;
        height: 60px;
    }

    .skill-content h3 {
        font-size: 1.2rem;
    }

    .skill-content p {
        font-size: 0.9rem;
    }
}