.about {
    min-height: 100vh;
}

.about-me {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.about-me h2 {
    color: #333;
}

.about-me p {
    color: #555;
}

.about-me-left {
    flex: 1;
}

/* 添加动画相关样式 */
.about-me,
.about-me-left {
    will-change: transform, opacity;
}

@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        padding: 10px;
    }

    .about-me-left {
        width: 100%;
    }

    .personal-info {
        width: 100%;
    }
}